{% extends 'base.html' %}
{% block content %}
         

<h1 style="margin-top:50px; margin-bottom: 0px; font-family: 'GongGothicMedium';">수정하기</h1>


        <form action="{% url 'update' movielog.id %}" method="post">
            {% csrf_token %}
            
            {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    </div>
            {% endif %}
            <div class = "login-form" style="margin: 50px;">
                <div class="form-group" style="margin:10px;">
                    <label for="title" style="margin:5px; text-align:left; width: 100%;">제목</label>
                    <input type="text" class="form-control" name="title"
                       value="{{ movielog.title }}">
                </div>
                <div class="form-group" style="margin:10px;">
                    <label for="director" style="margin:5px; text-align:left; width: 100%;">감독/작가</label>
                    <input type="text" class="form-control" name="director" 
                       value="{{ movielog.director }}" >
                </div>
                <div class="form-group" style="margin:10px;">
                    <label for="release_day" style="margin:5px; text-align:left; width: 100%;">개봉일/출간일</label>
                    <input type="text" class="form-control" name="release_day" 
                       value="{{ movielog.release_day }}">
                </div>
                <div class="form-group" style="margin:10px;">
                    <label for="body" style="margin:5px; text-align:left; width: 100%;">한줄평</label>
                    <input type="text" class="form-control" name="body" 
                       value="{{ movielog.body }}" style="height: 200px;">
                </div>
                <div class="form-group" style="margin:10px;">
                    <label for="image" style="margin:5px; text-align:left; width: 100%;">이미지</label>
                    <input type="file" class="form-control" name="image" id="image"
                       value="{{ movielog.image }}" style="height: 200px;">
                </div>
                <br>
                장르: <input type="text" name="hashtags"  placeholder="해시태그 ,로 구분">
            </div>
            
            
            <button type="submit">저장</button>
        </form> 

{% endblock %}