   {%load static%} 
    <h2>home</h2>
    
    {% if user.is_authenticated %}
    {{user.username}}
    <a href="{% url 'new' %}">새 글쓰기</a>
    <a href="{% url 'logout' %}">로그아웃</a>
    {% endif %}

    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}">로그인</a>
    <a href="{% url 'register' %}">회원가입</a>
    {% endif %}
    <br>
{% for movielog in movielogs.all %}
     
    <h1>{{ movielog.title }}</h1>
    <p>{{ movielog.director }}</p>
    <p>{{ movielog.release_day }}</p>
    <p>{{ movielog.summary }} </p>
    <p>{{ movielog.pub_date }}</p>
    
    <a href ="{% url 'detail' movielog.id %}">detail페이지로</a>
{% endfor %}

